*{
    padding: 0;
    margin: 0;
    border: 0;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    grid-template-rows: 10vh 15vh minmax(75vh,min-content);
}
.navbar{
    background: lightblue;
    display: grid;
    grid-template-columns: min-content 1fr max-content;
}
.logo h1{
    padding: 0px 20px;
}
.name{
    padding: 0px 20px;
}
.transcationForm{
    background: rgb(156, 70, 70);
}
.transactionList{
    background: lightgreen;
}
.transactionListItem{
    display: grid;
    grid-template-columns: min-content 1fr min-content max-content min-content;
    column-gap: 20px;
}
.listItem{
    padding: 20px;

}
.income{
    color: green;
}
.expense{
    color: red;
}